.presetsBtn {
    background-color: #e1e1e1;
    color: black;
    padding: 1px 3px;
    font-size: 13px;
    border:  #adadad;
    border-width: 1px;
    border-style: solid;
    margin-left: 1px;
}    
.presets {
    position: relative;
    display: inline-block;
}
.presets-content{
    background-color: #e1e1e1;
    border: #adadad;
    border-style: solid;
    border-width: 1px;
}
.preset1{
    position: relative;
    display: block;
    width: 50px;
    height: 10px;
    padding-top: 5px;
    border: #adadad;
    background-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    text-align: center;
}
.animateLabel{
    position: relative;
    display: inline-flex;
    height: 17px;
    width: 72px;
    background-color: #e1e1e1;
    border: #adadad;
    border-style: solid;
    border-width: 1px;
    padding-top: 1px;
    padding-left: 2px;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
.checkbox{
    background-color: white;
    position: relative;
    top: 0;
    left: 2;
    height: 14px;
    width: 14px;
    margin-left: 4px;
    margin-top: 1px;
}
.animateLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox:after {
    content: "X";
    font-weight: bold;
    font-size: 19px;
    position: relative;
    display: none;
    left: 1px;
    bottom: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.animateLabel input:checked ~ .checkbox:after {
    display: inline;
  }
.presetsBtn:hover {background-color: #e5f1fb; border-color: #0078d7;}
.presets-content:focus .preset1{display: block;}
.preset1:hover {background-color: #e5f1fb; border-color: #0078d7;}
.preset2:hover {background-color: #e5f1fb; border-color: #0078d7;}

  