.presetsBtn {
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
    background-color: #e1e1e1;
    color: black;
    padding: 1px 3px;
    font-size: 13px;
    border:  #adadad;
    border-width: 1px;
    border-style: solid;
    margin-right: 2px;
}    
.presets {
    justify-content: flex-start;
    display: inline-flex;
    flex-direction: row;
    padding-top: 1px;
}
.presets-content{
    justify-content: flex-start;
    display: inline-flex;
    flex-direction: row;
    background-color: #e1e1e1;
    border: #adadad;
    border-style: solid;
    border-width: 1px;
}
.preset1{
    justify-content: flex-start;
    display: inline-flex;
    flex-direction: row;
    width: 50px;
    height: 10px;
    padding-top: 5px;
    border: #adadad;
    background-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    text-align: center;
}
.animate-div {
    background-color: #e1e1e1;
    border: #adadad;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 1px;
    height: 18px;
    margin-right: 2px;
    width: 70px;
    margin-left: 1px;
}

.animate-txt {
    position: absolute;
}

.checkbox {
    margin-left: 55px;
}
.simulate-btn {
    justify-content: flex-start;
    display: inline-flex;
    flex-direction: row;
}
.clear-btn {
    justify-content: flex-start;
    display: inline-flex;
    flex-direction: row;
}

.canvas {
    background:  #ffffff;
}

.innerHTML{
    color: #ffffff;
}

.coordinates{
    justify-content: flex-start;
    display: inline-flex;
    flex-direction: row;
}

.coordinates-txt{
    justify-content: flex-start;
    display: inline-flex;
    flex-direction: row;
    margin-left: 3px;
}

.submit-coordinates-btn{
    flex-direction: row;
    margin-left: 3px;
}

.row-lable {
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
    padding-right: 3px;
    padding-left: 3px;
}

.column-lable {
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
    padding-right: 3px;
    padding-left: 3px;
}

.row-input {
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
}

.column-input {
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
}

.all {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
}

.presetsBtn:hover {background-color: #e5f1fb; border-color: #0078d7;}
.presets-content:focus .preset1{display: block;}
.preset1:hover {background-color: #e5f1fb; border-color: #0078d7;}
.preset2:hover {background-color: #e5f1fb; border-color: #0078d7;}

  